<div class="row" >
	<div class="col-xs-2"></div>
	<div class="col-xs-8" id="cb-login">
		<!-- Username -->
		<div class="input-group">
			<span class="input-group-addon">Username</span>
			<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" id="cb-login-username" value="javier.armendariz">
		</div>
		
		<br/>
		
		<!-- Password -->
		<div class="input-group">
			<span class="input-group-addon">Password</span>
			<input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1" id="cb-login-password" value="1234">
		</div>

		<br/>
		
		<!-- Buttons -->
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" id="cb-login-login">Log In</button>		  
		</div>
		
	</div>	
	<div class="col-xs-2"></div>
</div>